body {
  background-color: #E1F2F9 !important;
}

#title {
  background-color: #A4D4E8;
  font-family: 'Baloo Bhai', cursive;
  font-size: 40px;
  text-align: center;
  padding-right: 20px;
  color: #8199A3;
  overflow: hidden;
  width: 100%;
}

#calculator {
  background-color: #3498DB;
  margin: 20px auto 20px auto;
  width: 550px;
  padding: 0px;
}

button {
  background-color: #C3EAF1;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: #8199A3;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Baloo Bhai', cursive;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #F7D6B5;
  /* Green */
  color: white;
}

.buttonClass {
  background-color: #C3EAF1;
  color: #8199A3;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Baloo Bhai', cursive;

}

.col-xs-6 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.col-xs-3 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#currentDisplay {
  background-color: #7BBBD6;
  font-family: 'Baloo Bhai', cursive;
  font-size: 60px;
  text-align: right;
  padding-right: 20px;
  overflow: hidden;
  width: 100%;
}

#workingDisplay {
  background-color: #A4D4E8;
  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  height: 25px;
  overflow: hidden;
  width: 100%;
}
